	.content {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		.navCard{
			width: 100%;
			.navList{
				width: 100%;
				.row{
					width: 100%;
					display: flex;
				}
				.navBox{
					width: 33%;
					height: 0px;
					padding-bottom: 33.3%;
					border: 1px dashed #ddd;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					.box{
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						image{
							width: 50%;
							height: 50%;
						}
						.tt{
							margin-top: 6px;
							font-size: 14px;
							font-weight: bold;
						}
					}
				}
			}
		}
	}