	.content {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 100px 40px;
		.aboutCard{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			width: 100%;
			padding: 0px 40px;
			.row{
				display: flex;
				width: 100%;
				border-bottom: 1px solid #ccc;
				padding: 10px 0px;
			}
		}
	}